/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 3, 2014, 11:53:05 AM
    Author     : Ammad Nazir
*/
*{margin: 0; padding: 0;}
.main{max-width: 900px; margin: 0 auto;}
.main h2{text-align: center; padding: 8px}
.ebooking{height: auto; width:95%; margin: 0 auto; margin: 8px;}
.little{font-size: 13px;}
//form input[type=text]{border: 1px solid #f0f0f0; width:60%; padding: 8px; margin: 5px;}
form select{margin-top: 5px; width: 50%; padding: 5px; float: left; border: 1px solid #ccc; border-radius: 3px;}
form .bmine{margin-left: 00px; width: 150px; font-size: 16px;}
footer{text-align: center; font-size: 18px;}.btn-success {

}
